<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clouddo.fileserver.mapper.CloudFileMapper">


	<!--表名 -->
	<sql id="tableName">
		cloud_file
	</sql>


	<!--查询所有-->
	<select id="list" resultMap="cloudFileResultMap" parameterType="map">
        SELECT * FROM <include refid="tableName"></include> A
        <where>
			<if test="id != null and id != ''">
				AND A.ID LIKE '%${id}%'
			</if>
			<if test="filename != null and filename != ''">
				AND A.FILENAME LIKE '%${filename}%'
			</if>
			<if test="realName != null and realName != ''">
				AND A.REAL_NAME LIKE '%${realName}%'
			</if>
			<if test="hash != null and hash != ''">
				AND A.HASH LIKE '%${hash}%'
			</if>
			<if test="createTime != null and createTime != ''">
				AND A.CREATE_TIME LIKE '%${createTime}%'
			</if>
			<if test="updateTime != null and updateTime != ''">
				AND A.UPDATE_TIME LIKE '%${updateTime}%'
			</if>
			<if test="type != null and type != ''">
				AND A.TYPE LIKE '%${type}%'
			</if>
			<if test="path != null and path != ''">
				AND A.PATH LIKE '%${path}%'
			</if>
			<if test="description != null and description != ''">
				AND A.DESCRIPTION LIKE '%${description}%'
			</if>

			<!-- 关键词查询 -->
			<if test="keyword != null and keyword != ''">
				AND (
				A.ID LIKE '%${keyword}%'

				OR A.FILENAME LIKE '%${keyword}%'

				OR A.REAL_NAME LIKE '%${keyword}%'

				OR A.HASH LIKE '%${keyword}%'

				OR A.CREATE_TIME LIKE '%${keyword}%'

				OR A.UPDATE_TIME LIKE '%${keyword}%'

				OR A.TYPE LIKE '%${keyword}%'

				OR A.PATH LIKE '%${keyword}%'

				OR A.DESCRIPTION LIKE '%${keyword}%'

			)
			</if>
		</where>
    </select>

	<!--删除操作-->
	<delete id="delete" parameterType="list">
        DELETE FROM <include refid="tableName"></include>
        WHERE
        <choose>
            <when test="list != null and list.size() > 0">
                <foreach collection="list" item="item" separator="or">
					(
					ID = #{item.id}
					)
                </foreach>
            </when>
            <otherwise>
            	AND ID = '@@@@@abc'
            </otherwise>
        </choose>
    </delete>

	<!--查询操作-->
	<select id="get" resultMap="cloudFileResultMap">
        SELECT * FROM <include refid="tableName"></include>
        WHERE
		ID = #{id}
    </select>

	<!--批量插入操作-->
	<insert id="batchInsert" parameterType="list">
        <if test="list != null and list.size() > 0">
            INSERT INTO <include refid="tableName"></include>
            ( <include refid="tableFields"></include>
            ) VALUES
            <foreach collection="list" item="item" separator=",">
                (<include refid="classFields"></include> )
            </foreach>
        </if>

    </insert>

	<!--批量更新操作-->
	<update id="batchUpdate" parameterType="list">
        <if test="list != null">
            <foreach collection="list" item="item">
                UPDATE <include refid="tableName"></include>
                SET
    			FILENAME 		= 		#{item.filename},
    			REAL_NAME 		= 		#{item.realName},
    			HASH 		= 		#{item.hash},
    			CREATE_TIME 		= 		#{item.createTime},
    			UPDATE_TIME 		= 		#{item.updateTime},
    			TYPE 		= 		#{item.type},
    			PATH 		= 		#{item.path},
    			DESCRIPTION 		= 		#{item.description}
				<where>
						and ID = #{item.id}
				</where>
				;
            </foreach>
        </if>
    </update>

    <!-- 实体映射 -->
    <resultMap type="com.clouddo.fileserver.model.CloudFile" id="cloudFileResultMap">
    	<!-- id -->
	<!-- 文件主键 -->
	<id column="ID" property="id"/>
    	<!-- column -->
	<!-- 文件名 -->
	<result column="FILENAME" property="filename"/> 
	<!-- 真实文件名 -->
	<result column="REAL_NAME" property="realName"/> 
	<!-- 文件hash -->
	<result column="HASH" property="hash"/> 
	<!-- 创建时间 -->
	<result column="CREATE_TIME" property="createTime"/> 
	<!-- 更新时间 -->
	<result column="UPDATE_TIME" property="updateTime"/> 
	<!-- 类型 -->
	<result column="TYPE" property="type"/> 
	<!-- 文件路径 -->
	<result column="PATH" property="path"/> 
	<!-- 描述 -->
	<result column="DESCRIPTION" property="description"/> 
    </resultMap>
    
    <!-- 字段 -->
	<sql id="tableFields">
    		ID,
    		FILENAME,
    		REAL_NAME,
    		HASH,
    		CREATE_TIME,
    		UPDATE_TIME,
    		TYPE,
    		PATH,
    		DESCRIPTION
	</sql>
	
	<!-- 字段值 -->
	<sql id="classFields">
			#{item.id},
			#{item.filename},
			#{item.realName},
			#{item.hash},
			#{item.createTime},
			#{item.updateTime},
			#{item.type},
			#{item.path},
			#{item.description}
	</sql>
    		
</mapper>


