html,
body,
#mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.esri-layer-list {
    width: 310px;
}

#infoDiv {
    position: absolute;
    bottom: 10%;
    left: 60px;
    width: 10%;
    /*height: 30%;*/
}
#listDiv {
    position: fixed;
    top: 2%;
    left: 1%;
    width: 15%;
}

#infoDiv input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}
.river_mc {
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
}

.river_mc table {
    border-collapse: collapse;
    width: 100%;
}

.river_mc tr {
    height: 37px;
    line-height: 37px;
}

.river_mc th {
    background-color: #D1EBFE;
    padding-left: 10px;
    color: #3579a7;
    font-weight: 500;
    border: 1px solid #BED7EA;
    width: 150px;
    text-align: left;
    /*text-align: center;*/
}

.river_mc td {
    border: 1px solid #BED7EA;
    padding-left: 15px;
}
.no_content {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
}
.layui-table{
    margin: 0;
}

#heatmapArea {
    position:relative;
    float:left;
    width:100%;
    height:100%;
}
.tableBox{
    position: absolute;
    right:-40%;
    top:0;
    width: 40%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    z-index: 2;
}
.tableBtnOff{
    position: absolute;
    left: -24px;
    top: 40%;
    width:25px;
    height: 90px;
    background: #1E9FFF;
    /*background: white;*/
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    color: white;
    border-radius:3px;
}
.ub-img {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.searchDiv{
    width: 100%;
    height: 25%;
    min-height: 243px;
}
.gridDiv{
    width: 100%;
    height: 75%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    /*min-width: 575px;*/
}
.ui-jqgrid-bdiv{
    height: calc(68vh - 77px)!important;
    overflow-y: auto!important;
}
.searchInput{
    width: 100%;
    height: 78%;
    padding-top: 3%;
    padding-left: 2%;
}
.m-b {
    margin-bottom: 20px;
}
.layui-tab-content {
    padding: 0;
}
.layui-tab-title .layui-this {
    /*background-color: #f7f7f7;*/
    /*color: #1E9FFF;*/
    font-size: 15px;
    /*border-bottom:1px solid #1E9FFF;*/
    font-weight: 600;
}
.itemBar{
    margin-top: 2%;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    padding-top: 4px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}
.itemBar li{
    padding: 5px 10px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
}
.itemBar li label{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
.item2{
    display: none;
}
.item4{
    display: none;
}
.item5{
    display: none;
}
.item3{
    display: none;
}
.itemBarBottom{
    text-align: center;
    cursor: pointer;
    background-color: #f8f8f8;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}
.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #1E9FFF;
    color: #fff;
}
.ui-jqgrid {
    width: 100%!important;
}
.ui-jqgrid .ui-jqgrid-view{
    width: 100%!important;
}
.ui-jqgrid .ui-jqgrid-hdiv{
    width: 100%!important;
}
.ui-jqgrid .ui-jqgrid-bdiv{
    width: 100%!important;
}
.ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-jqgrid-toppager{
    width: 100%!important;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #1E9FFF;
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #1E9FFF;
    font-size: 16px;
    letter-spacing: 2px;
    /* box-shadow: 0px 0px 2px #d2d2d2; */
}
.layui-tab-title li{
    font-size: 15px;
    letter-spacing: 2px;
}
.laytab{
    height: 96%;
    overflow-y: scroll;
    min-width: 600px;
}
.popupDiv{
    display: none!important;
}