<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clouddo.hydrology.mapper.StAddvcdDMapper">


	<!--表名 -->
	<sql id="tableName">
		st_addvcd_d
	</sql>

    <!--查询行政区站点数量-->
	<select id="countStationNum" resultType="map" parameterType="map">
        SELECT ADDVCD, ADDVNM, COUNT(*) stationNum FROM (
          SELECT A.STCD, A.ADDVCD, B.ADDVNM, B.SEQ FROM ST_STBPRP_B A JOIN ST_ADDVCD_D B ON A.ADDVCD = B.ADDVCD
          <where>
              <if test="sttp != null and sttp != ''">
                  AND STTP = #{sttp}
              </if>
              <if test="usfl != null and usfl != ''">
                  AND USFL = #{usfl}
              </if>
              <if test="addvcds != null and addvcds.size() > 0">
                  AND  A.ADDVCD IN
                  <foreach collection="addvcds" open="(" close=")" item="item" separator=",">
                      #{item}
                  </foreach>
              </if>
          </where>
        ) C GROUP BY ADDVCD, ADDVNM, SEQ ORDER BY SEQ
	</select>

    <!--统计各个行政区降雨站点信息 降雨站点数 平均降雨 -->
    <select id="countStationRainNum" resultType="map" parameterType="map">
      SELECT A.ADDVCD ADDVCD, count(DISTINCT(a.STCD)) rainStationNum, sum(drp)/count(DISTINCT(a.STCD)) addvcdDrp FROM (
        SELECT * FROM ST_STBPRP_B WHERE STTP = 'PP'
        <!-- 是否使用条件 -->
        <if test="usfl != null and usfl != ''"> AND USFL = #{usfl}</if>
        <!-- 所在行政区 -->
        <if test="addvcds != null and addvcds.size() > 0">
            AND ADDVCD IN
            <foreach collection="addvcds" item="item" open="(" close=")" separator=","> #{item} </foreach>
        </if>
      ) A JOIN (
        <!-- JOIN雨量表 -->
        SELECT * FROM ST_PPTN_R WHERE INTV = '0.05' AND DRP > 0
        <if test="startTime != null"> AND TM &gt;= #{startTime}</if>
        <if test="endTime != null"> AND TM &lt;= #{endTime}</if>
        ) B ON A.STCD = B.STCD GROUP BY A.ADDVCD
    </select>

    <!--查询每个行政区最大降雨测站和雨量-->
    <select id="countMaxRainStation" resultType="map" parameterType="map">
      SELECT D.* FROM (
        <include refid="stationRain">
            <property name="usfl" value="${usfl}"></property>
            <property name="startTime" value="${startTime}"></property>
            <property name="endTime" value="${endTime}"></property>
        </include>
      ) D JOIN (
        SELECT MAX(stationDrp) stationDrp, ADDVCD FROM (
            <include refid="stationRain">
                <property name="usfl" value="${usfl}"></property>
                <property name="startTime" value="${startTime}"></property>
                <property name="endTime" value="${endTime}"></property>
            </include>
        ) C GROUP BY ADDVCD
      ) E ON D.ADDVCD = E.ADDVCD AND D.stationDrp = E.stationDrp
      <!--添加查询条件行政区划-->
      <where>
          <if test="addvcds!= null and addvcds.size() > 0">
              AND D.ADDVCD IN
              <foreach collection="addvcds" open="(" close=")" item="item" separator=",">
                #{item}
              </foreach>
          </if>
      </where>
    </select>

    <!--查询站点雨量统计信息-->
    <sql id="stationRain">
        SELECT A.STCD, A.STNM, A.ADDVCD, SUM(B.DRP) stationDrp FROM (select * from ST_STBPRP_B where STTP = 'PP' <if test="usfl != null and usfl != ''">AND USFL = #{usfl}</if>) A
        JOIN (
          SELECT * FROM ST_PPTN_R WHERE INTV = '0.05' AND DRP > 0
          <if test="startTime != null">AND TM &gt;= #{startTime}</if>
        <if test="endTime != null"> AND TM &lt;= #{endTime}</if>
        )B ON A.STCD = B.STCD GROUP BY A.STCD, A.ADDVCD, A.STNM
    </sql>
	
	<!--查询所有-->
	<select id="findAll" resultMap="stAddvcdDResultMap" parameterType="map">
        SELECT * FROM <include refid="tableName"></include> A
        <where>
			<if test="addvcd != null and addvcd != ''">
				AND A.ADDVCD LIKE '%${addvcd}%'
			</if>
			<if test="addvnm != null and addvnm != ''">
				AND A.ADDVNM LIKE '%${addvnm}%'
			</if>
			<if test="comments != null and comments != ''">
				AND A.COMMENTS LIKE '%${comments}%'
			</if>
			<if test="moditime != null and moditime != ''">
				AND A.MODITIME LIKE '%${moditime}%'
			</if>
			<if test="seq != null and seq != ''">
				AND A.SEQ LIKE '%${seq}%'
			</if>
			<if test="yzid != null and yzid != ''">
				AND A.YZID LIKE '%${yzid}%'
			</if>
			<if test="isyz != null and isyz != ''">
				AND A.ISYZ LIKE '%${isyz}%'
			</if>
			<if test="mark != null and mark != ''">
				AND A.MARK LIKE '%${mark}%'
			</if>

			<!-- 关键词查询 -->
			<if test="keyword != null and keyword != ''">
				AND (
				A.ADDVCD LIKE '%${keyword}%'

				OR A.ADDVNM LIKE '%${keyword}%'

				OR A.COMMENTS LIKE '%${keyword}%'

				OR A.MODITIME LIKE '%${keyword}%'

				OR A.SEQ LIKE '%${keyword}%'

				OR A.YZID LIKE '%${keyword}%'

				OR A.ISYZ LIKE '%${keyword}%'

				OR A.MARK LIKE '%${keyword}%'

			)
			</if>
		</where>
    </select>

	<!--删除操作-->
	<delete id="delete" parameterType="list">
        DELETE FROM <include refid="tableName"></include>
        WHERE
        <choose>
            <when test="list != null and list.size() > 0">
                <foreach collection="list" item="item" separator="or">
					(
					)
                </foreach>
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </delete>

	<!--查询操作-->
	<select id="get" resultMap="stAddvcdDResultMap">
        SELECT * FROM <include refid="tableName"></include>
        WHERE
    </select>

	<!--批量插入操作-->
	<insert id="batchInsert" parameterType="list">
        <if test="list != null and list.size() > 0">
            INSERT INTO <include refid="tableName"></include>
            ( <include refid="tableFields"></include>
            ) VALUES
            <foreach collection="list" item="item" separator=",">
                (<include refid="classFields"></include> )
            </foreach>
        </if>

    </insert>

	<!--批量更新操作-->
	<update id="batchUpdate" parameterType="list">
        <if test="list != null">
            <foreach collection="list" item="item">
                UPDATE <include refid="tableName"></include>
                SET
    			ADDVCD 		= 		#{item.addvcd},
    			ADDVNM 		= 		#{item.addvnm},
    			COMMENTS 		= 		#{item.comments},
    			MODITIME 		= 		#{item.moditime},
    			SEQ 		= 		#{item.seq},
    			YZID 		= 		#{item.yzid},
    			ISYZ 		= 		#{item.isyz},
    			MARK 		= 		#{item.mark}
				<where>
				</where>
				;
            </foreach>
        </if>
    </update>

    <!-- 实体映射 -->
    <resultMap type="com.clouddo.hydrology.model.StAddvcdDDO" id="stAddvcdDResultMap">
    	<!-- id -->
    	<!-- column -->
	<!-- 行政区编码 -->
	<result column="ADDVCD" property="addvcd"/> 
	<!-- 行政区名称 -->
	<result column="ADDVNM" property="addvnm"/> 
	<!--  -->
	<result column="COMMENTS" property="comments"/> 
	<!--  -->
	<result column="MODITIME" property="moditime"/> 
	<!-- 序号 -->
	<result column="SEQ" property="seq"/> 
	<!--  -->
	<result column="YZID" property="yzid"/> 
	<!--  -->
	<result column="ISYZ" property="isyz"/> 
	<!-- 备注 -->
	<result column="MARK" property="mark"/> 
    </resultMap>
    
    <!-- 字段 -->
	<sql id="tableFields">
    		ADDVCD,
    		ADDVNM,
    		COMMENTS,
    		MODITIME,
    		SEQ,
    		YZID,
    		ISYZ,
    		MARK
	</sql>
	
	<!-- 字段值 -->
	<sql id="classFields">
			#{item.addvcd},
			#{item.addvnm},
			#{item.comments},
			#{item.moditime},
			#{item.seq},
			#{item.yzid},
			#{item.isyz},
			#{item.mark}
	</sql>
    		
</mapper>


