<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clouddo.hydrology.mapper.StStbprpBMapper">


	<!--表名 -->
	<sql id="tableName">
		ST_STBPRP_B
	</sql>

	<!--统计站点降雨信息-->
	<select id="countStationRain" resultType="com.clouddo.hydrology.pojo.dto.StStbprpBDTO" parameterType="map">
		SELECT <include refid="fields"></include>, B.DRP drp FROM (
		  SELECT * from ST_STBPRP_B WHERE STTP = 'PP'
		  <if test="stcd != null and stcd != ''">
			  AND STCD = #{stcd}
		  </if>
		  <if test="stcdList != null and stcdList.size() > 0">
			  AND STCD IN
			  <foreach collection="stcdList" item="item" open="(" close=")" separator=",">
				  #{item}
			  </foreach>
		  </if>
		  <if test="usfl != null and usfl != ''">
			  AND USFL = #{usfl}
		  </if>
		  <if test="gisfl != null and gisfl != ''">
			  AND GISFL = #{gisfl}
		  </if>
		  <if test="repfl != null and repfl != ''">
			  AND REPFL = #{repfl}
		  </if>
		  <if test="addvcd != null and addvcd != ''">
			  AND ADDVCD = #{addvcd}
		  </if>
		  <if test="addvcdList != null and addvcdList.size() > 0">
			  AND ADDVCD IN 
			  <foreach collection="addvcdList" open="(" close=")" item="item" separator=",">
				  #{item}
			  </foreach>
		  </if>
		) A LEFT OUTER JOIN (
			SELECT STCD, SUM(DRP) DRP FROM ST_PPTN_R WHERE INTV = '0.05'
			<if test="startTime != null">
				AND TM &gt;= #{startTime}
			</if>
			<if test="endTime != null">
				AND TM &lt;= #{endTime}
			</if>
			GROUP BY STCD
		) B ON A.STCD = B.STCD
	</select>
	
	<!--查询所有-->
	<select id="findAll" resultMap="stStbprpBResultMap" parameterType="map">
        SELECT * FROM <include refid="tableName"></include> A
        <where>
			<if test="stcd != null and stcd != ''">
				AND A.STCD LIKE '%${stcd}%'
			</if>
			<if test="sttp != null and sttp != ''">
				AND A.STTP LIKE '%${sttp}%'
			</if>
			<if test="isyz != null and isyz != ''">
				AND A.ISYZ LIKE '%${isyz}%'
			</if>
			<if test="stnm != null and stnm != ''">
				AND A.STNM LIKE '%${stnm}%'
			</if>
			<if test="rvnm != null and rvnm != ''">
				AND A.RVNM LIKE '%${rvnm}%'
			</if>
			<if test="hnnm != null and hnnm != ''">
				AND A.HNNM LIKE '%${hnnm}%'
			</if>
			<if test="bsnm != null and bsnm != ''">
				AND A.BSNM LIKE '%${bsnm}%'
			</if>
			<if test="lgtd != null and lgtd != ''">
				AND A.LGTD LIKE '%${lgtd}%'
			</if>
			<if test="lttd != null and lttd != ''">
				AND A.LTTD LIKE '%${lttd}%'
			</if>
			<if test="stlc != null and stlc != ''">
				AND A.STLC LIKE '%${stlc}%'
			</if>
			<if test="addvcd != null and addvcd != ''">
				AND A.ADDVCD LIKE '%${addvcd}%'
			</if>
			<if test="dtmnm != null and dtmnm != ''">
				AND A.DTMNM LIKE '%${dtmnm}%'
			</if>
			<if test="dtmel != null and dtmel != ''">
				AND A.DTMEL LIKE '%${dtmel}%'
			</if>
			<if test="dtpr != null and dtpr != ''">
				AND A.DTPR LIKE '%${dtpr}%'
			</if>
			<if test="frgrd != null and frgrd != ''">
				AND A.FRGRD LIKE '%${frgrd}%'
			</if>
			<if test="esstym != null and esstym != ''">
				AND A.ESSTYM LIKE '%${esstym}%'
			</if>
			<if test="bgfrym != null and bgfrym != ''">
				AND A.BGFRYM LIKE '%${bgfrym}%'
			</if>
			<if test="atcunit != null and atcunit != ''">
				AND A.ATCUNIT LIKE '%${atcunit}%'
			</if>
			<if test="admauth != null and admauth != ''">
				AND A.ADMAUTH LIKE '%${admauth}%'
			</if>
			<if test="locality != null and locality != ''">
				AND A.LOCALITY LIKE '%${locality}%'
			</if>
			<if test="stbk != null and stbk != ''">
				AND A.STBK LIKE '%${stbk}%'
			</if>
			<if test="stazt != null and stazt != ''">
				AND A.STAZT LIKE '%${stazt}%'
			</if>
			<if test="dstrvm != null and dstrvm != ''">
				AND A.DSTRVM LIKE '%${dstrvm}%'
			</if>
			<if test="drna != null and drna != ''">
				AND A.DRNA LIKE '%${drna}%'
			</if>
			<if test="phcd != null and phcd != ''">
				AND A.PHCD LIKE '%${phcd}%'
			</if>
			<if test="usfl != null and usfl != ''">
				AND A.USFL LIKE '%${usfl}%'
			</if>
			<if test="comments != null and comments != ''">
				AND A.COMMENTS LIKE '%${comments}%'
			</if>
			<if test="moditime != null and moditime != ''">
				AND A.MODITIME LIKE '%${moditime}%'
			</if>
			<if test="exname != null and exname != ''">
				AND A.EXNAME LIKE '%${exname}%'
			</if>
			<if test="status != null and status != ''">
				AND A.STATUS LIKE '%${status}%'
			</if>
			<if test="gisfl != null and gisfl != ''">
				AND A.GISFL LIKE '%${gisfl}%'
			</if>
			<if test="constcd != null and constcd != ''">
				AND A.CONSTCD LIKE '%${constcd}%'
			</if>
			<if test="watarea != null and watarea != ''">
				AND A.WATAREA LIKE '%${watarea}%'
			</if>
			<if test="stbel != null and stbel != ''">
				AND A.STBEL LIKE '%${stbel}%'
			</if>
			<if test="repfl != null and repfl != ''">
				AND A.REPFL LIKE '%${repfl}%'
			</if>
			<if test="seq != null and seq != ''">
				AND A.SEQ LIKE '%${seq}%'
			</if>
			<if test="phofl != null and phofl != ''">
				AND A.PHOFL LIKE '%${phofl}%'
			</if>
			<if test="stcd5 != null and stcd5 != ''">
				AND A.STCD5 LIKE '%${stcd5}%'
			</if>
			<if test="zxfl != null and zxfl != ''">
				AND A.ZXFL LIKE '%${zxfl}%'
			</if>
			<if test="yzid != null and yzid != ''">
				AND A.YZID LIKE '%${yzid}%'
			</if>
			<if test="iscs != null and iscs != ''">
				AND A.ISCS LIKE '%${iscs}%'
			</if>

			<!-- 关键词查询 -->
			<if test="keyword != null and keyword != ''">
				AND (
				A.STCD LIKE '%${keyword}%'

				OR A.STTP LIKE '%${keyword}%'

				OR A.ISYZ LIKE '%${keyword}%'

				OR A.STNM LIKE '%${keyword}%'

				OR A.RVNM LIKE '%${keyword}%'

				OR A.HNNM LIKE '%${keyword}%'

				OR A.BSNM LIKE '%${keyword}%'

				OR A.LGTD LIKE '%${keyword}%'

				OR A.LTTD LIKE '%${keyword}%'

				OR A.STLC LIKE '%${keyword}%'

				OR A.ADDVCD LIKE '%${keyword}%'

				OR A.DTMNM LIKE '%${keyword}%'

				OR A.DTMEL LIKE '%${keyword}%'

				OR A.DTPR LIKE '%${keyword}%'

				OR A.FRGRD LIKE '%${keyword}%'

				OR A.ESSTYM LIKE '%${keyword}%'

				OR A.BGFRYM LIKE '%${keyword}%'

				OR A.ATCUNIT LIKE '%${keyword}%'

				OR A.ADMAUTH LIKE '%${keyword}%'

				OR A.LOCALITY LIKE '%${keyword}%'

				OR A.STBK LIKE '%${keyword}%'

				OR A.STAZT LIKE '%${keyword}%'

				OR A.DSTRVM LIKE '%${keyword}%'

				OR A.DRNA LIKE '%${keyword}%'

				OR A.PHCD LIKE '%${keyword}%'

				OR A.USFL LIKE '%${keyword}%'

				OR A.COMMENTS LIKE '%${keyword}%'

				OR A.MODITIME LIKE '%${keyword}%'

				OR A.EXNAME LIKE '%${keyword}%'

				OR A.STATUS LIKE '%${keyword}%'

				OR A.GISFL LIKE '%${keyword}%'

				OR A.CONSTCD LIKE '%${keyword}%'

				OR A.WATAREA LIKE '%${keyword}%'

				OR A.STBEL LIKE '%${keyword}%'

				OR A.REPFL LIKE '%${keyword}%'

				OR A.SEQ LIKE '%${keyword}%'

				OR A.PHOFL LIKE '%${keyword}%'

				OR A.STCD5 LIKE '%${keyword}%'

				OR A.ZXFL LIKE '%${keyword}%'

				OR A.YZID LIKE '%${keyword}%'

				OR A.ISCS LIKE '%${keyword}%'

			)
			</if>
		</where>
    </select>

	<!--删除操作-->
	<delete id="delete" parameterType="list">
        DELETE FROM <include refid="tableName"></include>
        WHERE
        <choose>
            <when test="list != null and list.size() > 0">
                <foreach collection="list" item="item" separator="or">
					(
					STCD = #{item.stcd}
					AND STTP = #{item.sttp}
					AND ISYZ = #{item.isyz}
					)
                </foreach>
            </when>
            <otherwise>
            	AND STCD = '@@@@@abc'
            	STTP = '@@@@@abc'
            	ISYZ = '@@@@@abc'
            </otherwise>
        </choose>
    </delete>

	<!--查询操作-->
	<select id="get" resultMap="stStbprpBResultMap">
        SELECT * FROM <include refid="tableName"></include>
        WHERE
		STCD = #{stcd}
		AND STTP = #{sttp}
		AND ISYZ = #{isyz}
    </select>

	<!--批量插入操作-->
	<insert id="batchInsert" parameterType="list">
        <if test="list != null and list.size() > 0">
            INSERT INTO <include refid="tableName"></include>
            ( <include refid="tableFields"></include>
            ) VALUES
            <foreach collection="list" item="item" separator=",">
                (<include refid="classFields"></include> )
            </foreach>
        </if>

    </insert>

	<!--批量更新操作-->
	<update id="batchUpdate" parameterType="list">
        <if test="list != null">
            <foreach collection="list" item="item">
                UPDATE <include refid="tableName"></include>
                SET
    			STNM 		= 		#{item.stnm},
    			RVNM 		= 		#{item.rvnm},
    			HNNM 		= 		#{item.hnnm},
    			BSNM 		= 		#{item.bsnm},
    			LGTD 		= 		#{item.lgtd},
    			LTTD 		= 		#{item.lttd},
    			STLC 		= 		#{item.stlc},
    			ADDVCD 		= 		#{item.addvcd},
    			DTMNM 		= 		#{item.dtmnm},
    			DTMEL 		= 		#{item.dtmel},
    			DTPR 		= 		#{item.dtpr},
    			FRGRD 		= 		#{item.frgrd},
    			ESSTYM 		= 		#{item.esstym},
    			BGFRYM 		= 		#{item.bgfrym},
    			ATCUNIT 		= 		#{item.atcunit},
    			ADMAUTH 		= 		#{item.admauth},
    			LOCALITY 		= 		#{item.locality},
    			STBK 		= 		#{item.stbk},
    			STAZT 		= 		#{item.stazt},
    			DSTRVM 		= 		#{item.dstrvm},
    			DRNA 		= 		#{item.drna},
    			PHCD 		= 		#{item.phcd},
    			USFL 		= 		#{item.usfl},
    			COMMENTS 		= 		#{item.comments},
    			MODITIME 		= 		#{item.moditime},
    			EXNAME 		= 		#{item.exname},
    			STATUS 		= 		#{item.status},
    			GISFL 		= 		#{item.gisfl},
    			CONSTCD 		= 		#{item.constcd},
    			WATAREA 		= 		#{item.watarea},
    			STBEL 		= 		#{item.stbel},
    			REPFL 		= 		#{item.repfl},
    			SEQ 		= 		#{item.seq},
    			PHOFL 		= 		#{item.phofl},
    			STCD5 		= 		#{item.stcd5},
    			ZXFL 		= 		#{item.zxfl},
    			YZID 		= 		#{item.yzid},
    			ISCS 		= 		#{item.iscs}
				<where>
						and STCD = #{item.stcd}
						and STTP = #{item.sttp}
						and ISYZ = #{item.isyz}
				</where>
				;
            </foreach>
        </if>
    </update>

    <!-- 实体映射 -->
    <resultMap type="com.clouddo.hydrology.model.StStbprpBDO" id="stStbprpBResultMap">
    	<!-- id -->
	<!-- 测站编码 -->
	<id column="STCD" property="stcd"/>
	<!-- 站类 -->
	<id column="STTP" property="sttp"/>
	<!--  -->
	<id column="ISYZ" property="isyz"/>
    	<!-- column -->
	<!-- 测站名称 -->
	<result column="STNM" property="stnm"/> 
	<!--  -->
	<result column="RVNM" property="rvnm"/> 
	<!--  -->
	<result column="HNNM" property="hnnm"/> 
	<!--  -->
	<result column="BSNM" property="bsnm"/> 
	<!--  -->
	<result column="LGTD" property="lgtd"/> 
	<!--  -->
	<result column="LTTD" property="lttd"/> 
	<!--  -->
	<result column="STLC" property="stlc"/> 
	<!--  -->
	<result column="ADDVCD" property="addvcd"/> 
	<!--  -->
	<result column="DTMNM" property="dtmnm"/> 
	<!--  -->
	<result column="DTMEL" property="dtmel"/> 
	<!--  -->
	<result column="DTPR" property="dtpr"/> 
	<!--  -->
	<result column="FRGRD" property="frgrd"/> 
	<!--  -->
	<result column="ESSTYM" property="esstym"/> 
	<!--  -->
	<result column="BGFRYM" property="bgfrym"/> 
	<!--  -->
	<result column="ATCUNIT" property="atcunit"/> 
	<!--  -->
	<result column="ADMAUTH" property="admauth"/> 
	<!--  -->
	<result column="LOCALITY" property="locality"/> 
	<!--  -->
	<result column="STBK" property="stbk"/> 
	<!--  -->
	<result column="STAZT" property="stazt"/> 
	<!--  -->
	<result column="DSTRVM" property="dstrvm"/> 
	<!--  -->
	<result column="DRNA" property="drna"/> 
	<!--  -->
	<result column="PHCD" property="phcd"/> 
	<!--  -->
	<result column="USFL" property="usfl"/> 
	<!--  -->
	<result column="COMMENTS" property="comments"/> 
	<!--  -->
	<result column="MODITIME" property="moditime"/> 
	<!--  -->
	<result column="EXNAME" property="exname"/> 
	<!--  -->
	<result column="STATUS" property="status"/> 
	<!--  -->
	<result column="GISFL" property="gisfl"/> 
	<!--  -->
	<result column="CONSTCD" property="constcd"/> 
	<!--  -->
	<result column="WATAREA" property="watarea"/> 
	<!--  -->
	<result column="STBEL" property="stbel"/> 
	<!--  -->
	<result column="REPFL" property="repfl"/> 
	<!--  -->
	<result column="SEQ" property="seq"/> 
	<!--  -->
	<result column="PHOFL" property="phofl"/> 
	<!--  -->
	<result column="STCD5" property="stcd5"/> 
	<!--  -->
	<result column="ZXFL" property="zxfl"/> 
	<!--  -->
	<result column="YZID" property="yzid"/> 
	<!--  -->
	<result column="ISCS" property="iscs"/> 
    </resultMap>


	<!-- 字段 -->
	<sql id="fields">
		A.STCD stcd,
		A.STTP sttp,
		A.ISYZ isyz,
		A.STNM stnm,
		A.RVNM rvnm,
		A.HNNM hnnm,
		A.BSNM bsnm,
		A.LGTD lgtd,
		A.LTTD lttd,
		A.STLC stlc,
		A.ADDVCD addvcd,
		A.DTMNM dtmnm,
		A.DTMEL dtmel,
		A.DTPR dtpr,
		A.FRGRD frgrd,
		A.ESSTYM esstym,
		A.BGFRYM bgfrym,
		A.ATCUNIT atcunit,
		A.ADMAUTH admauth,
		A.LOCALITY locality,
		A.STBK stbk,
		A.STAZT stazt,
		A.DSTRVM dstrvm,
		A.DRNA drna,
		A.PHCD phcd,
		A.USFL usfl,
		A.COMMENTS comments,
		A.MODITIME moditime,
		A.EXNAME exname,
		A.STATUS status,
		A.GISFL gisfl,
		A.CONSTCD constcd,
		A.WATAREA watarea,
		A.STBEL stbel,
		A.REPFL repfl,
		A.SEQ seq,
		A.PHOFL phofl,
		A.STCD5 stcd5,
		A.ZXFL zxfl,
		A.YZID yzid,
		A.ISCS iscs
	</sql>

    <!-- 字段 -->
	<sql id="tableFields">
    		STCD,
    		STTP,
    		ISYZ,
    		STNM,
    		RVNM,
    		HNNM,
    		BSNM,
    		LGTD,
    		LTTD,
    		STLC,
    		ADDVCD,
    		DTMNM,
    		DTMEL,
    		DTPR,
    		FRGRD,
    		ESSTYM,
    		BGFRYM,
    		ATCUNIT,
    		ADMAUTH,
    		LOCALITY,
    		STBK,
    		STAZT,
    		DSTRVM,
    		DRNA,
    		PHCD,
    		USFL,
    		COMMENTS,
    		MODITIME,
    		EXNAME,
    		STATUS,
    		GISFL,
    		CONSTCD,
    		WATAREA,
    		STBEL,
    		REPFL,
    		SEQ,
    		PHOFL,
    		STCD5,
    		ZXFL,
    		YZID,
    		ISCS
	</sql>
	
	<!-- 字段值 -->
	<sql id="classFields">
			#{item.stcd},
			#{item.sttp},
			#{item.isyz},
			#{item.stnm},
			#{item.rvnm},
			#{item.hnnm},
			#{item.bsnm},
			#{item.lgtd},
			#{item.lttd},
			#{item.stlc},
			#{item.addvcd},
			#{item.dtmnm},
			#{item.dtmel},
			#{item.dtpr},
			#{item.frgrd},
			#{item.esstym},
			#{item.bgfrym},
			#{item.atcunit},
			#{item.admauth},
			#{item.locality},
			#{item.stbk},
			#{item.stazt},
			#{item.dstrvm},
			#{item.drna},
			#{item.phcd},
			#{item.usfl},
			#{item.comments},
			#{item.moditime},
			#{item.exname},
			#{item.status},
			#{item.gisfl},
			#{item.constcd},
			#{item.watarea},
			#{item.stbel},
			#{item.repfl},
			#{item.seq},
			#{item.phofl},
			#{item.stcd5},
			#{item.zxfl},
			#{item.yzid},
			#{item.iscs}
	</sql>
    		
</mapper>


