<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gis</title>

    <link rel="stylesheet" href="/css/page/gis/gis.css"/>
    <link rel="stylesheet" href="/css/plugins/arcgis/4.6/esri/main.css"/>

    <script type="text/javascript">
        //项目上下文
        var context= /*[[@{/}]]*/ ''
        //设置baseUrl
        dojoConfig={
            baseUrl : context + "/js/plugins/argis/4.6/dojo"
        };
    </script>
</head>
<body>
    <div id="mapDiv"></div>

</body>


<script src="/js/jquery.min.js?v=2.1.4" th:src="@{/js/jquery.min.js?v=2.1.4}"></script>

<script src="/js/plugins/layer/layer.min.js"></script>
<script src="/js/plugins/argis/4.6/init.js"></script>

<script src="/js/service/util/RestUtil.js"></script>

<script src="/js/service/gis/view/View.js"></script>

<!--引入页面js-->
<script src="/js/service/page/gis/gis.js"></script>
</html>